.controls_compactDatePicker_theme-@{themeName} {
   // Шапка
   --header_today_width_compactDatePicker: 20px;

   // Календарь
   --calendar_item-size_compactDatePicker: 32px;
   --shadow_start-color_compactDatePicker: rgba(0, 0, 0, 0.05);
}
