.controls_compactDatePicker_theme-@{themeName} {
   --width_compactDatePicker: 270px;
   --max-height_compactDatePicker: 400px;

   // Шапка
   --header_height_compactDatePicker: 72px;
   --header_layer_height_compactDatePicker: 24px;
   --header_today_width_compactDatePicker: 20px;

   // Календарь
   --calendar_item-size_compactDatePicker: 32px;
   --shadow_start-color_compactDatePicker: rgba(0, 0, 0, 0.05);
}
