.controls_filterPanel_theme-@{themeName} {
   //View

   // Общие параметры

   //Кнопки
   --apply-button_image_filterViewPanel: url('../img/Union.svg');
   --apply-button_width_filterViewPanel: 80px;

   //"Еще можно отобрать"
   --additional-editor_horizontal-offset_filterViewPanel: 10px;
}
