.controls_scroll_theme-@{themeName} {
   // Переменные для скроллбара
   //
   // Размеры и отступы

   --padding_scrollbar: var(--offset_3xs);

   // Размеры ползунка

   --thumb_s_thickness_scrollbar: 3px;
   --thumb_hover_s_thickness_scrollbar: 6px;
   --thumb_l_thickness_scrollbar: 4px;
   --thumb_hover_l_thickness_scrollbar: 12px;

   // Цвета ползунка

   --accented_thumb_background-color_scrollbar: rgba(0, 0, 0, 0.1);
   --accented_thumb_hover_background-color_scrollbar: rgba(0, 0, 0, 0.15);

   // Линия по которой перемещается ползунок

   --track_thickness_scrollbar: 1px;
   --track_color_scrollbar: #c1cde1;

   // Переменные для скролл-контейнера

   --shadow_thickness_scroll: 8px;
   --shadow_start-color_scroll: rgba(0, 0, 0, 0.15);
   --shadow_end-color_scroll: rgba(0, 0, 0, 0);
   --shadow_thickness-hider_height_scroll: 24px;
}

.controls_theme-@{themeName} {
   --background-color_scroll_sticky-header: var(--background-color);
}
