.controls_shortDatePicker_theme-@{themeName} {
   // Переменные для быстрого выбора периода
   //
   // Размеры и отступы

   --height_shortDatePicker: 564px;
   --width_shortDatePicker: 88px;
   --monthly_width_shortDatePicker: 134px;
   --quarterly_width_shortDatePicker: 160px;
   --quarterly-monthly_width_shortDatePicker: 150px;

   // Цвет фона

   --background-color_shortDatePicker: var(--background-color);

   // Обводка

   --border-color_shortDatePicker: var(--border-color_sticky);

   // Заголовок в режиме года

   --annually_header_height_shortDatePicker: 36px;

   // Футер
   --footer_height_shortDatePicker: 24px;

   // Переменные для элементов быстрого выбора периода
   //
   // Размеры и отступы

   --quarterly_item-padding-left_shortDatePicker: calc(var(--offset_m) - var(--item_border-thickness_shortDatePicker));
   --item_height_shortDatePicker: 32px;
   // Выносим выражение в отдельную переменную, т.к вложенные calc в IE не работают.
   --item_layout_line-height_expression_shortDatePicker: calc(var(--item_height_shortDatePicker) - var(--item_border-thickness_shortDatePicker) * 2);

   // Текст

   --item_font-size_shortDatePicker: var(--font-size_l);

   // Обводка

   --item_border-thickness_shortDatePicker: var(--border-thickness);
   --item_hover_border-color_shortDatePicker: #8991a9;

   // Цвет фона
   --header_background-color_shortDatePicker: var(--unaccented_background-color);

   // Переменные для переключателя годов
   //
   // Размеры и отступы

   --yearselector_height_shortDatePicker: 40px;

   // Разделители между элементами

   --separator_color_shortDatePicker: var(--unaccented_background-color);
   --separator_thickness_shortDatePicker: 4px;

   // Элементы выбора квартала/полугодия

   --quarterly_quarters_width_shortDatePicker: 36px;
}
