.controls_theme-@{themeName} {
   // ToolbarBox
   --background-color_ToolbarBox: #f8f8f8;
   --box-shadow_ToolbarBox: 0 1px 4px rgba(0, 0, 0, 0.156863);

   // разделитель в ToolbarBox
   --separator_thickness_ToolbarBox: 1px;
   --separator_color_ToolbarBox: #e4e4e4;

}
