.controls-FilterViewPanel__popup-template {
   background-color: var(--master_item_background-color_list); //цвет такой же как в мастер-деталь

   //Будет удалено по задаче: https://online.sbis.ru/opendoc.html?guid=da25cb20-4cf5-44a5-b869-dedf9ed85056
   .sabyPage-MainLayout__noticeCenterButton,
   .controls-StackTemplate__command_buttons_without_head {
      display: none;
   }
}

.controls-FilterViewPanel__popup-content {
   width: var(--width_filterViewPanel);
}

.controls-FilterViewPanel__filter-icon {
   .icon-size(var(--reset-button_icon-size));
   color: var(--secondary_text-color);
}

.controls-FilterViewPanel__filter-caption {
   padding: 0 var(--offset_xs);
}

.controls-FilterViewPanel__header {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: baseline;
   padding-left: var(--offset_m);
   width: 100%;
   height: var(--inline_height_default);
   line-height: var(--inline_height_default);
}

.controls-FilterViewPanel_header__applyButton {
   position: absolute;
   right: 0;
   line-height: var(--apply-button_inline-height_menuPopup);
   top: calc((var(--heading_height_filterViewPanel) - var(--apply-button_inline-height_menuPopup)) / 2);
}
