.controls-FilterViewPanel__popup-template {
   background-color: var(--master_item_background-color_list); //цвет такой же как в мастер-деталь

   //Будет удалено по задаче: https://online.sbis.ru/opendoc.html?guid=da25cb20-4cf5-44a5-b869-dedf9ed85056
   .sabyPage-MainLayout__noticeCenterButton,
   .controls-StackTemplate__command_buttons_without_head {
      display: none;
   }
}

.controls-FilterViewPanel__popup-content {
   width: var(--width_filterViewPanel);
}
