.controls-ColumnsView__itemsContainer {
   display: grid;
   flex-direction: row;
   justify-content: flex-start;
   //padding: 0 var(--offset_xs);
}

.controls-ColumnsView_column {
   height: 100%;
   //padding: 0 var(--offset_xs);
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}

.controls-ColumnsView__itemV {
   user-select: none;
   box-sizing: border-box;
   display: inline-block;
   //margin: var(--offset_2xs) 0;
   overflow: hidden;
   vertical-align: top;
   //width: 100%;
}

.controls-ColumnsView__item_shadow {
   box-shadow: var(--item_shadow-size_columns) var(--item_shadow-color_columns);
}

.controls-ColumnsView__itemActionsV_inside {
   padding-right: var(--offset-right_itemActions);
   height: var(--height_itemActions_columns);
}

.ws-is-hover .controls-ColumnsView__item_shadow.controls-ColumnsView__item_hovering:hover {
   box-shadow: var(--item_shadow-size_columns) var(--item_hover_shadow-color_columns);
}

.controls-ColumnsView__item_dragging {
   box-shadow: var(--item_dragging_shadow-size_columns) var(--item_dragging_shadow-color_columns);
   opacity: 0.6;
}

.controls-ColumnsView__dragTargetNode::after {
   content: '\200b';
   border: 1px solid var(--primary_border-color);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.controls-ColumnsView_column,
.controls-ColumnsView_column-placeholder,
.controls-ColumnsView__itemContent {
   width: 100%;
}

.controls-ColumnsView__item_marker {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   box-sizing: border-box;
   border: 1px solid var(--marker_color);
   pointer-events: none;
   z-index: 2;
}

.controls-ColumnsView__checkbox_position-default {
   float: left;
   margin-left: var(--offset_s);
   margin-top: var(--offset_xs);
}


.controls-ListView__item_roundBorder_bottomLeft {
   @variants: xs, s, m, l, xl;

   .for(@variants, {
      &_@{_item} > .controls-ColumnsView__item_marker,
      &_@{_item}::after {
         border-bottom-left-radius: ~"var(--border_radius_@{_item}_list)";
      }
   });
}

.controls-ListView__item_roundBorder_bottomRight {
   @variants: xs, s, m, l, xl;

   .for(@variants, {
      &_@{_item} > .controls-ColumnsView__item_marker,
      &_@{_item}::after {
         border-bottom-right-radius: ~"var(--border_radius_@{_item}_list)";
      }
   });
}

.controls-ListView__item_roundBorder_topLeft {
   @variants: xs, s, m, l, xl;

   .for(@variants, {
      &_@{_item} > .controls-ColumnsView__item_marker,
      &_@{_item}::after {
         border-top-left-radius: ~"var(--border_radius_@{_item}_list)";
      }
   });
}

.controls-ListView__item_roundBorder_topRight {
   @variants: xs, s, m, l, xl;

   .for(@variants, {
      &_@{_item} > .controls-ColumnsView__item_marker,
      &_@{_item}::after {
         border-top-right-radius: ~"var(--border_radius_@{_item}_list)";
      }
   });
}

// отступы

.controls-ColumnsView__item_spacingTop_default {
   margin-top: calc(var(--offset_s) / 2);
}

.controls-ColumnsView__item_spacingTop_null {
   margin-top: 0;
}

.controls-ColumnsView__item_spacingTop {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-top: calc(~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__item_spacingBottom_default {
   margin-bottom: calc(var(--offset_s)/ 2);
}

.controls-ColumnsView__item_spacingBottom_null {
   margin-bottom: 0;
}

.controls-ColumnsView__item_spacingBottom {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-bottom: calc(~"var(--offset_@{_item})" / 2);
      }
   });
}

.controls-ColumnsView__item_spacingRight_default {
   padding-right: calc(var(--offset_m) / 2);
}

.controls-ColumnsView__item_spacingRight_null {
   padding-right: 0;
}

.controls-ColumnsView__item_spacingRight {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         padding-right: calc(~"var(--offset_@{_item})" / 2);
      }
   });
}

.controls-ColumnsView__item_spacingLeft_default {
   padding-left: calc(var(--offset_m) / 2);
}

.controls-ColumnsView__item_spacingLeft_null {
   padding-left: 0;
}

.controls-ColumnsView__item_spacingLeft {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         padding-left: calc(~"var(--offset_@{_item})" / 2);
      }
   });
}

// container padding

// left padding
.controls-ColumnsView__itemsPaddingContainer_spacingLeft_null_itemPadding_null {
   margin-left: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_null_itemPadding_default {
   margin-left: calc(-1 * var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_null_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(-1 * ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_default_itemPadding_null {
   margin-left: var(--offset_m);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_default_itemPadding_default {
   margin-left: calc(var(--offset_m) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_default_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_m) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xs_itemPadding_null {
   margin-left: var(--offset_xs);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xs_itemPadding_default {
   margin-left: calc(var(--offset_xs) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xs_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_xs) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_s_itemPadding_null {
   margin-left: var(--offset_s);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_s_itemPadding_default {
   margin-left: calc(var(--offset_s) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_s_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_s) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_m_itemPadding_null {
   margin-left: var(--offset_m);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_m_itemPadding_default {
   margin-left: calc(var(--offset_m) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_m_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_m) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_l_itemPadding_null {
   margin-left: var(--offset_l);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_l_itemPadding_default {
   margin-left: calc(var(--offset_l) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_l_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_l) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xl_itemPadding_null {
   margin-left: var(--offset_xl);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xl_itemPadding_default {
   margin-left: calc(var(--offset_xl) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xl_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_xl) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingLeft_2xl_itemPadding_null {
   margin-left: var(--offset_2xl);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_2xl_itemPadding_default {
   margin-left: calc(var(--offset_2xl) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_2xl_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-left: calc(var(--offset_2xl) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


// padding right
.controls-ColumnsView__itemsPaddingContainer_spacingRight_null_itemPadding_null {
   margin-right: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_null_itemPadding_default {
   margin-right: calc(-1 * var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_null_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(-1 * ~"var(--offset_@{_item})" / 2);
      }
   });
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_default_itemPadding_null {
   margin-right: calc(var(--offset_m));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_default_itemPadding_default {
   margin-right: calc(var(--offset_m) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_default_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_m) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingRight_xs_itemPadding_null {
   margin-right: var(--offset_xs);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_xs_itemPadding_default {
   margin-right: calc(var(--offset_xs) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_xs_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_xs) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingRight_s_itemPadding_null {
   margin-right: var(--offset_s);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_s_itemPadding_default {
   margin-right: calc(var(--offset_s) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_s_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_s) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingRight_m_itemPadding_null {
   margin-right: var(--offset_m);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_m_itemPadding_default {
   margin-right: calc(var(--offset_m) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_m_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_m) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingRight_l_itemPadding_null {
   margin-right: var(--offset_l);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_l_itemPadding_default {
   margin-right: calc(var(--offset_l) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_l_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_l) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingRight_xl_itemPadding_null {
   margin-right: var(--offset_xl);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_xl_itemPadding_default {
   margin-right: calc(var(--offset_xl) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_xl_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_xl) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingRight_2xl_itemPadding_null {
   margin-right: var(--offset_2xl);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_2xl_itemPadding_default {
   margin-right: calc(var(--offset_2xl) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_2xl_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-right: calc(var(--offset_2xl) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


// top padding

.controls-ColumnsView__itemsPaddingContainer_spacingTop_null_itemPadding_null {
   margin-top: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_null_itemPadding_default {
   margin-top: calc(-1 * var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_null_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-top: calc(-1 * ~"var(--offset_@{_item})" / 2);
      }
   });
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_default_itemPadding_null {
   margin-top: var(--offset_xs);
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_default_itemPadding_default {
   margin-top: calc(var(--offset_xs) - var(--offset_m) / 2);
}
.controls-ColumnsView__itemsPaddingContainer_spacingTop_default_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-top: calc(var(--offset_xs) - ~"var(--offset_@{_item})" / 2);
      }
   });
}

//bottom padding
.controls-ColumnsView__itemsPaddingContainer_spacingBottom_null_itemPadding_null {
   margin-bottom: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_null_itemPadding_default {
   margin-bottom: calc(-1 * var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_null_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-bottom: calc(-1 * ~"var(--offset_@{_item})" / 2);
      }
   });
}


.controls-ColumnsView__itemsPaddingContainer_spacingBottom_default_itemPadding_null {
   margin-bottom: var(--offset_xs);
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_default_itemPadding_default {
   margin-bottom: calc(var(--offset_xs) - var(--offset_m) / 2);
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_null_itemPadding {
   @variants: 3xs, 2xs, xs, s, m, l, xl, 2xl;

   .for(@variants, {
      &_@{_item} {
         margin-bottom: calc(var(--offset_xs) - ~"var(--offset_@{_item})" / 2);
      }
   });
}


// compatible padding
.controls-ColumnsView__itemsPaddingContainer_spacingLeft_default {
   margin-left: calc(-1 * var(--offset_m) / 2 + var(--offset_m));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_null {
   margin-left: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_3xs {
   margin-left: calc(-1 * var(--offset_3xs) / 2 + var(--offset_3xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_2xs {
   margin-left: calc(-1 * var(--offset_2xs) / 2 + var(--offset_2xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xs {
   margin-left: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_s {
   margin-left: calc(-1 * var(--offset_s) / 2 + var(--offset_s));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_m {
   margin-left: calc(-1 * var(--offset_m) / 2 + var(--offset_m));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_l {
   margin-left: calc(-1 * var(--offset_m) / 2 + var(--offset_l));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_xl {
   margin-left: calc(-1 * var(--offset_m) / 2 + var(--offset_xl));
}

.controls-ColumnsView__itemsPaddingContainer_spacingLeft_2xl {
   margin-left: calc(-1 * var(--offset_m) / 2 + var(--offset_2xl));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_default {
   margin-right: calc(-1 * var(--offset_m) / 2 + var(--offset_m));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_null {
   margin-right: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_3xs {
   margin-right: calc(-1 * var(--offset_3xs) / 2 + var(--offset_3xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_2xs {
   margin-right: calc(-1 * var(--offset_2xs) / 2 + var(--offset_2xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_xs {
   margin-right: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_s {
   margin-right: calc(-1 * var(--offset_s) / 2 + var(--offset_s));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_m {
   margin-right: calc(-1 * var(--offset_m) / 2 + var(--offset_m));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_l {
   margin-right: calc(-1 * var(--offset_m) / 2 + var(--offset_l));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_xl {
   margin-right: calc(-1 * var(--offset_m) / 2 + var(--offset_xl));
}

.controls-ColumnsView__itemsPaddingContainer_spacingRight_2xl {
   margin-right: calc(-1 * var(--offset_m) / 2 + var(--offset_2xl));
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_null {
   margin-top: 0;
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_default {
   margin-top: calc(-1 * var(--offset_m) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_m {
   margin-top: calc(-1 * var(--offset_m) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_3xs {
   margin-top: calc(-1 * var(--offset_3xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_2xs {
   margin-top: calc(-1 * var(--offset_2xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_s {
   margin-top: calc(-1 * var(--offset_s) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingTop_xs {
   margin-top: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_null {
   margin-bottom: 0;
}
.controls-ColumnsView__itemsPaddingContainer_spacingBottom_default {
   margin-bottom: calc(-1 * var(--offset_m) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_m {
   margin-bottom: calc(-1 * var(--offset_m) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_3xs {
   margin-bottom: calc(-1 * var(--offset_3xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_2xs {
   margin-bottom: calc(-1 * var(--offset_2xs) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_s {
   margin-bottom: calc(-1 * var(--offset_s) / 2 + var(--offset_xs));
}

.controls-ColumnsView__itemsPaddingContainer_spacingBottom_xs {
   margin-bottom: calc(-1 * var(--offset_xs) / 2 + var(--offset_xs));
}
