.controls-ListEditor__columns {
   position: relative;
}

.controls-EditorList__footer {
   display: flex;
   justify-content: center;
   width: 100%;
}

.controls-ListEditor__column {
   height: 100%;
   display: flex;
   align-items: center;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.controls-EditorList__additional-column {
   align-self: center;
   color: var(--label_text-color);
   padding-right: var(--offset_s);
}

.controls-ListView__multiSelect__innerCircle_selected-master {
   fill: var(--marker_color);
}

.controls-FilterEditors__list {
   margin-left: calc(-1 * var(--offset_xl));
   margin-right: calc(-1 * var(--offset_xl));
}

.controls-ListEditor__column-img {
   width: var(--icon-size_m);
   height: var(--icon-size_m);
   border-radius: var(--border-radius_s_image);
   margin-right: var(--offset_m);
}

.controls-ListEditor__column-text-default {
   font-size: var(--font-size_l);
}

.controls-ListEditor__column-text-filterPanelStack {
   font-size: var(--font-size_m);
}

.controls-EditorList__icon-wrapper {
   position: absolute;
   display: inline-flex;
   align-items: center;
   padding-bottom: var(--offset-bottom_itemActions);
   box-sizing: border-box;
}

.controls-EditorList__icon {
   min-width: var(--icon-size_m);
   height: var(--icon-size_m);
   justify-content: center;
   display: flex;
   align-items: center;
}
