.controls-ListEditor__columns {
   position: relative;
}

.controls-EditorList__footer {
   display: flex;
   justify-content: center;
   width: 100%;
}

.controls-EditorList__additional-column {
   color: var(--label_text-color);
   padding-right: var(--offset_s);
}

.controls-ListView__multiSelect__innerCircle_selected-master {
   fill: var(--marker_color);
}

.controls-FilterEditors__list {
   margin-left: calc(-1 * var(--offset_xl));
   margin-right: calc(-1 * var(--offset_xl));
}

.controls-ListEditor__column-img {
   width: var(--icon-size_m);
   height: var(--icon-size_m);
   border-radius: var(--border-radius_s_image);
   display: inline-flex;
   align-self: center;
}

.controls-EditorList__icon-wrapper {
   position: absolute;
   display: inline-flex;
   align-items: center;
   padding-bottom: var(--offset-bottom_itemActions);
   box-sizing: border-box;
}

.controls-EditorList__icon {
   min-width: var(--icon-size_m);
   height: var(--icon-size_m);
   justify-content: center;
   display: flex;
   align-items: center;
}


// По стандарту панели фильтров, если редактор-список не является основным (primary) фильтром,
// то между элементами такого списка не должно быть дополнительных отступов
.controls-EditorList_secondaryFilter .controls-Grid_master {
   grid-row-gap: 0;
}

// Так же, как и для плитки, у чекбокса должна быть заливка, т.к. фон у панели фильтров не белый
// https://online.sbis.ru/opendoc.html?guid=01022f3f-d160-4c99-9ef9-d0838cb6db05
.controls-ListEditor__multiSelect .controls-CheckboxMarker__icon-border_enabled {
   fill: var(--background-color);
}

.controls-EditorList__footer-button {
   height: var(--inline_height_xs);
   border-radius: var(--border-radius_s);
   background-color: var(--background-color);
   color: var(--label_text-color);
   font-size: var(--font-size_xs);
   padding: 0 var(--offset_st);
   cursor: pointer;
}
