.controls-listTemplates-ColorfulTemplate {
   background-color: ~"rgb(var(--dominant-color))";
}

.controls-listTemplates-ColorfulTemplate__image {
   height: var(--size_6xl_image);
}

.controls-listTemplates-ColorfulTemplate__caption_dark {
   color: var(--text-color_title_colorful_dark);
}

.controls-listTemplates-ColorfulTemplate__description_dark {
   color: var(--text-color_description_colorful_dark)
}

.controls-listTemplates-ColorfulTemplate__caption_light {
   color: var(--text-color_title_colorful_light);
}

.controls-listTemplates-ColorfulTemplate__description_light {
   color: var(--text-color_description_colorful_light);
}
