.controls-FilterPanelPopup {
   .controls-StickyTemplate__top-area {
      padding-left: var(--offset_xs);
   }

   .controls-StickyTemplate__top-area-content {
      height: var(--inline_height_4xl);
   }

   .controls-StickyTemplate__close_button-with-header {
      top: var(--offset_st);
      right: var(--offset_m);
   }
}

.controls-FilterPanelPopup-vertical {
   //max-width: var(--width_filterViewPanel);
}

.controls-FilterPanelPopup__header {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: var(--inline_height_4xl);
   line-height: var(--inline_height_4xl);
   padding-right: var(--offset_m);
   width: 100%;
}

.controls-FilterPanelPopup__filter-icon {
   .icon-size(var(--icon-size_xs));
   color: var(--primary_text-color);
}

.controls-FilterPanelPopup__filter-caption {
   padding: 0 var(--offset_m);
   letter-spacing: 0.1em;
   text-transform: uppercase;
}

.controls-FilterPanelPopup__buttons-container {
   display: flex;
   align-items: center;
}

.controls-FilterPanelPopup__reset-button {
   height: var(--inline_height_4xl);
   padding: 0 var(--offset_m);
}

.controls-FilterPanelPopup__applyButton {
   line-height: var(--apply-button_inline-height_menuPopup);
}
