.controls-DateRangeSelectorLite__picker-normal {
   margin-top: calc(((var(--height_dateRangeSelector) - var(--item_height_shortDatePicker)) / 2) - var(--item_border-thickness_shortDatePicker));
}

.controls-DateRangeSelectorLite__picker-years_fontSize-m {
   margin-top: var(--shift-top_fontSize-m_expression_PeriodLiteDialog-selector);
}

.controls-DateRangeSelectorLite__picker-years_fontSize-s {
   margin-top: var(--shift-top_fontSize-s_PeriodLiteDialog-selector);
}

.controls-DateRangeSelectorLite__picker-years_fontSize-l {
   margin-top: var(--shift-top_fontSize-l_PeriodLiteDialog-selector);
}

.controls-DateRangeSelector__month-width {
   width: 20ch;
}

.controls-DateRangeSelector__year-width {
   width: 14ch;
}

.controls-DateRangeSelector__date-width {
   width: 23ch;
}

.controls-DateRangeSelector__halfyear-width {
   width: 23ch;
}

.controls-DateRangeSelector__quarter-width {
   width: 21ch;
}

.controls-DateRangeSelector__dateRange-width {
   width: 26ch;
}

.controls-DateRangeSelector__monthsRange-width {
   width: 33ch;
}

.controls-DateRangeSelector__yearsRange-width {
   width: 19ch;
}
