.controls-DateRangeSelectorLite__picker-normal {
   margin-top: calc(((var(--height_dateRangeSelector) - var(--item_height_shortDatePicker)) / 2) - var(--item_border-thickness_shortDatePicker));
}

.controls-DateRangeSelectorLite__picker-years_fontSize-m {
   margin-top: var(--shift-top_fontSize-m_expression_PeriodLiteDialog-selector);
}

.controls-DateRangeSelectorLite__picker-years_fontSize-s {
   margin-top: var(--shift-top_fontSize-s_PeriodLiteDialog-selector);
}

.controls-DateRangeSelectorLite__picker-years_fontSize-l {
   margin-top: var(--shift-top_fontSize-l_PeriodLiteDialog-selector);
}

.controls-DateRangeSelector__quant-month {
   width: 20ch;
}

.controls-DateRangeSelector__quant-year {
   width: 14ch;
}

.controls-DateRangeSelector__quant-date {
   width: 23ch;
}

.controls-DateRangeSelector__quant-halfyear {
   width: 23ch;
}

.controls-DateRangeSelector__quant-quarter {
   width: 21ch;
}

.controls-DateRangeSelector__quant-dateRange {
   width: 26ch;
}

.controls-DateRangeSelector__quant-monthsRange {
   width: 33ch;
}

.controls-DateRangeSelector__quant-yearsRange {
   width: 19ch;
}
