.controls-FilterViewPanel__baseEditor-container {
   display: flex;
   align-items: baseline;
}

.controls-FilterViewPanel__baseEditor-cross {
   padding-left: var(--offset_2xs);
   padding-right: var(--offset_m);
   align-self: flex-end;
   padding-bottom: var(--offset_xs);
}

.controls-FilterViewPanel__basicEditor-cloud {
   overflow: hidden;
   background-color: var(--background-color);
   border-radius: var(--border-radius_m);
   padding: var(--offset_2xs) var(--offset_s);
   margin-left: calc(-1 * var(--offset_s));
}

.ws-is-hover {
   .controls-FilterViewPanel__basicEditor:hover {
      background-color: var(--hover_background-color);
   }
}

.controls-FilterViewPanel__baseEditor-cross-icon {
   .icon-size(var(--reset-button_icon-size));
   color: var(--reset-button_icon-color_filterView);
   cursor: pointer;
}
