.controls-breadcrumbsMenuButton__menu {
   height: 100%;
   display: flex;
   border-radius: inherit;
   flex-flow: column nowrap;
   justify-content: flex-start;
}

.controls-breadcrumbsMenuButton__menu-header {
   display: flex;
   flex-flow: row nowrap;
   align-items: baseline;
   justify-content: space-between;
   flex-shrink: 0;

   padding: var(--offset_s) var(--offset_m);
   border-top-right-radius: var(--border-radius_default_block);
   border-top-left-radius: var(--border-radius_default_block);
   background-color: var(--header_background-color_sticky);
}

.controls-breadcrumbsMenuButton__menu-body {
   height: 100%;
   flex-grow: 1;
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
}
