.controls-breadcrumbsMenuButton__menu {
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
}

.controls-breadcrumbsMenuButton__menu-header {
   display: flex;
   flex-flow: row nowrap;
   align-items: baseline;
   justify-content: space-between;
   flex-shrink: 0;

   height: var(--header_min-height_sticky);
   line-height: var(--header_min-height_sticky);
   background-color: var(--header_background-color_sticky);

   padding: 0 var(--offset_m) 0 var(--offset_m);
}

.controls-breadcrumbsMenuButton__menu-body {
   height: 100%;
   flex-grow: 1;
}
