.controls-SearchView_colspanedBreadcrumbs {
  position: absolute;
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_default {
  left: var(--item_padding-left_default_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_xs {
  left: var(--item_padding-left_xs_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_s {
  left: var(--item_padding-left_s_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_m {
  left: var(--item_padding-left_m_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_l {
  left: var(--item_padding-left_l_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_xl {
  left: var(--item_padding-left_xl_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_xxl {
  left: var(--item_padding-left_2xl_list);
}

.controls-SearchView_colspanedBreadcrumbs__leftPadding_null {
  left: 0;
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_default {
  right: var(--item_padding-right_default_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_xs {
  right: var(--item_padding-right_xs_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_s {
  right: var(--item_padding-right_s_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_m {
  right: var(--item_padding-right_m_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_l {
  right: var(--item_padding-right_l_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_xl {
  right: var(--item_padding-right_xl_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_xxl {
  right: var(--item_padding-right_2xl_list);
}

.controls-SearchView_colspanedBreadcrumbs__rightPadding_null {
  right: 0;
}