.controls-SwitchCircle {
    border-radius: 50%;
}

.controls-SwitchCircle {
    width: var(--marker_size_switcher);
    height: var(--marker_size_switcher);
}

.controls-SwitchCircle_border {
    border: var(--border-thickness) solid;
    box-sizing: border-box;
}

.controls-SwitchCircle_selected {
    background-color: var(--selected_marker_color_switcher);
    border-color: var(--selected_marker_color_switcher);
}

.controls-SwitchCircle_contrast-selected {
    background-color: var(--contrast_icon-color);
    border-color: var(--selected_marker_color_switcher);
}

.controls-SwitchCircle_contrast-unselected {
    background-color: var(--contrast_icon-color);
    border-color: var(--unselected_marker_color_switcher);
}

.controls-SwitchCircle_unselected {
    background-color: var(--unselected_marker_color_switcher);
    border-color: var(--unselected_marker_color_switcher);
}

.controls-SwitchCircle_resetValue {
    &.controls-SwitchCircle_selected,
    &.controls-SwitchCircle_contrast-selected {
        background-color: var(--primary_active_background-color);
        border-color: var(--primary_active_background-color);
    }

    &.controls-SwitchCircle_contrast-unselected,
    &.controls-SwitchCircle_unselected {
        background-color: var(--unaccented_active_same_background-color);
        border-color: var(--unaccented_active_same_background-color);
    }
}

.controls-SwitchCircle_selected_disabled {
    background-color: var(--readonly_contrast_background-color);
    border-color: var(--readonly_contrast_background-color);
}

.controls-SwitchCircle_unselected_disabled {
    background-color: var(--readonly_unselected_marker_color_switcher);
    border-color: var(--readonly_unselected_marker_color_switcher);
}

.controls-SwitchCircle_contrast-unselected_disabled {
    background-color: var(--contrast_icon-color);
    border-color: var(--readonly_unselected_marker_color_switcher);
}

.controls-SwitchCircle_contrast-selected_disabled {
    background-color: var(--contrast_icon-color);
    border-color: var(--readonly_contrast_background-color);
}
