.controls-Back {
   min-width: 1px;
   max-width: 100%;
   display: inline-block;
}

// region Icon "<" styles
.controls-Back__icon {
   height: 1em;
}

.ws-is-ie {
   // ie не умеет автоматически сайзить ширину svg элемента относительно его высоты
   .controls-Back__icon {
      width: calc(1em / 2);
   }
}

.controls-Back__icon_style-primary {
   fill: var(--primary_icon-color);
}

.controls-Back__icon_style-secondary {
   fill: var(--secondary_icon-color);
}
//endregion

//region icon view
.controls-Back__icon_view-button {
   // view
   width: 1em;
   height: 1em;
   border-radius: 50%;
   box-sizing: border-box;
   background-color: var(--unaccented_same_background-color);
   border: 1px solid var(--unaccented_contrast_background-color);

   // inner align
   display: flex;
   align-items: center;
   justify-content: center;

   .controls-Back__icon {
      height: 50%;
   }
}
//endregion

.controls-Back__wrapper {
   cursor: pointer;
   max-width: 100%;

   // inner align
   display: flex;
   align-items: baseline;
}

.controls-Back__icon-wrapper,
.controls-Back__middle-wrapper {
   flex-shrink: 0;
   box-sizing: border-box;

   // inner align
   display: flex;
   align-items: center;

   &::before {
      content: '\200b';
   }
}

.controls-Back__icon-wrapper {
   padding-right: var(--offset_xs);
}

.ws-is-ie {
   .controls-Back__icon-wrapper {
      align-items: baseline;
   }
}

.controls-Back__middle-wrapper {
   padding-right: var(--offset_3xs);
}

.controls-Back__middle {
   // Делаем через max т.к. в этот элемент прикладники могут положить иконки, а у них фиксированная сетка размеров
   // и она ни как не сочетается с размером шрифта. И получается что иконка будет либо много меньше чем 1em либо много
   // больше и из-за этого она криво выравнивается.
   // При таких стилях контейнер ужмется под иконку и она адекватно встанет по центру.
   max-width: 1em;
   max-height: 1em;
}

//region Caption styles
.controls-Back__caption {
   font-weight: var(--font-weight_heading);
}

.controls-Back__caption_overflow-ellipsis {
   .text-overflow();
}

.controls-Back__caption_overflow-none {
   word-break: break-word;
}

.controls-Back__caption_style-secondary {
   color: var(--secondary_text-color_headingBack);
}

.controls-Back__caption_style-primary {
   color: var(--primary_text-color_headingBack);
}

.controls-Back__caption_style-default {
   color: var(--text-color);
}

.controls-Back__wrapper:active,
.controls-Header_all__clickable:active {
   .controls-Back__caption_style-primary {
      color: var(--primary_hover_text-color_headingBack);
   }

   .controls-Back__caption_style-secondary {
      color: var(--secondary_hover_text-color_headingBack);
   }
}
//endregion

.ws-is-hover {
   .controls-Header_all__clickable:hover {
      cursor: pointer;
   }

   .controls-Back__wrapper:hover,
   .controls-Header_all__clickable:hover {
      .controls-Back__caption_style-primary {
         color: var(--primary_hover_text-color_headingBack);
      }

      .controls-Back__caption_style-secondary {
         color: var(--secondary_hover_text-color_headingBack);
      }

      .controls-Back__icon_view-button {
         border-color: var(--unaccented_hover_contrast_background-color);
         background-color: var(--unaccented_hover_same_background-color);
      }

      .controls-Back__icon_style-primary {
         fill: var(--primary_hover_icon-color);
      }

      .controls-Back__icon_style-secondary {
         fill: var(--secondary_hover_icon-color);
      }
   }
}
